<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Ajouter une école</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="ecoleForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Nom -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Nom de l'école</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Entrez le nom de l'école" formControlName="nom" />
          </mat-form-field>
        </div>

        <!-- Adresse -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Adresse de l'école</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Entrez l'adresse de l'école" formControlName="adresse" />
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8" type="submit">Ajouter</button>
        <button mat-stroked-button color="warn" type="button">Annuler</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
