<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Modifier une Classe</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <!-- Formulaire pour modifier une classe -->
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Libellé de la Classe -->
        <div class="col-lg-12">
          <mat-label class="f-w-600 m-b-8 d-block">Libellé de la Classe</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Entrez le libellé de la classe" formControlName="libelle_classe" />
          </mat-form-field>
        </div>
      </div>

      <!-- Boutons de soumission et d'annulation -->
      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8" type="submit">Modifier</button>
        <button mat-stroked-button color="warn" type="button" >Annuler</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
