<mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="hstack align-items-center flex-column flex-lg-row">
        <div class="w-100">
          <mat-card-title>Revenue Forecast</mat-card-title>
        </div>
        <div class="m-l-auto">
            <mat-form-field class="theme-select" appearance="outline">
                <mat-select value="mar">
                  @for(month of months; track month.viewValue ) {
                  <mat-option [value]="month.value">
                    {{ month.viewValue }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
        </div>
      </div>
  
      <!-- chart -->
      <div class="m-t-16" style="height: 295px">
        <apx-chart
          [series]="revenueForecastChart.series"
          [chart]="revenueForecastChart.chart"
          [colors]="revenueForecastChart.colors"
          [plotOptions]="revenueForecastChart.plotOptions"
          [dataLabels]="revenueForecastChart.dataLabels"
          [legend]="revenueForecastChart.legend"
          [grid]="revenueForecastChart.grid"
          [yaxis]="revenueForecastChart.yaxis"
          [xaxis]="revenueForecastChart.xaxis"
          [tooltip]="revenueForecastChart.tooltip"
        ></apx-chart>
      </div>
  
     
    </mat-card-content>
  </mat-card>
  