<div class="row">
  <div class="col-lg-8">
    <app-revenue-forecast></app-revenue-forecast>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-12">
        <app-new-customers></app-new-customers>
      </div>
      <div class="col-12">
        <app-total-income></app-total-income>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <app-revenue-product></app-revenue-product>
  </div>
  <div class="col-lg-4">
    <app-daily-activities></app-daily-activities>
  </div>
  <div class="col-12">
    <app-blog-card></app-blog-card>
  </div>
</div>
