<mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="hstack align-items-center p-b-4">
        <div
          class="rounded icon-48 bg-light-accent d-flex align-items-center flex-shrink-0 justify-content-center"
        >
          <i
            class="iconify f-s-24 text-accent"
            data-icon="solar:football-outline"
          ></i>
        </div>
        <mat-card-title class="f-s-16 f-w-500 m-b-0"
          >New Customers</mat-card-title
        >
      </div>
      <div
        class="d-flex align-items-center justify-content-between m-t-24 m-b-16"
      >
        <h6 class="f-s-15 f-w-500 m-0">New goals</h6>
        <h6 class="f-s-15 f-w-500 m-0">83%</h6>
      </div>
      <mat-progress-bar
        mode="determinate"
        color="accent"
        value="83"
      ></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  