<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gradient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <!-- Logo -->
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                src="./assets/images/logos/logo.svg"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
          </div>

          <!-- Section title -->
          <div class="or-border m-t-30">Forgot Password</div>

          <!-- Message de succès -->
          @if(message){
            <div  class="success-message text-success mt-3">
              {{ message }}
            </div>
           }


          <!-- Message d'erreur -->
           @if(errorMessage){
            <div  class="error-message text-danger mt-3">
              {{ errorMessage }}
            </div>
           }
          <!-- Formulaire de saisie de l'email -->
          <form [formGroup]="form" (ngSubmit)="submit()" class="m-t-30">

            <!-- Champ de saisie de l'email -->
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Enter your email" />

            </mat-form-field>

            <!-- Bouton de soumission -->
            <button mat-raised-button color="primary" type="submit" class="w-100 mt-3" [disabled]="form.invalid">
              Submit
            </button>
          </form>



        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
